
h1 { 
    padding-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 42px;
}
 #throbber {
    padding: 10px;
    position:absolute;
    left: 50%;
    top:50%;
    margin: -50px 0 0 -50px;
    z-index: 10000;
    width: 100px;
    height: 100px;
}

#tutorial {
    display: none;
    position: absolute;
    z-index: 50000;
    width: 100%;
    background: rgb(0,0,0);
    opacity: 1;
}

#attrib {
    display: none;
    position: absolute;
    z-index: 90000;
    top:85%;
    left:20%;
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 42px;
    color: white;
    text-align: center;
}
